* {
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    scroll-behavior: smooth;
}

body {
    background:url(./resources/img/pexels-lukas-mayer-785429.jpeg);
    background-position:center;
    background-attachment: fixed;
}

.section-about {
/* background: rgb(47, 239, 210); */
background:url(./resources/img/pexels-lukas-mayer-785429.jpeg);
background-position:center;
background-attachment:fixed;
height: 100vh;
width: 100vw;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

ul {
    /* border: 1px solid green; */
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    min-width: 550px;
    list-style: none;
    font-size: 21px;
    margin-bottom: 20px;
}

h1 {
    font-size: 70px;
    font-weight: 100;
    margin-bottom: 24px;
    /* font-family: 'Nothing You Could Do', cursive; */
    font-family: 'Bebas Neue', serif;
    /* color:rgb(240, 240, 240); */
    color:rgb(255, 204, 0);
    font-weight: 100;
}

hr {
    border: none;
    height: 1px;
    width: 70%;
    background: rgb(255, 255, 255);
}

i {
    font-size: 40px;
    margin-bottom: 5px;
    color:rgb(240, 240, 240);
    margin-top: 30px;
}

.fa-file-download {
    color: rgb(242, 41, 41);
}

.fa-basketball-ball {
    color: rgb(255, 140, 0);
}

.fa-linkedin {
    color: #1795d0;
}

.fa-github-square {
    color: rgb(177, 103, 177);
}

#brand-statement {
    padding: 20px;
    /* border-top: 1px solid #00ffbb; */
    /* border-bottom: 1px solid #00ffbb; */
    width: 47%;
    max-width: 1000px;
    min-width: 600px;
    /* margin-bottom: 40px; */
    text-align: center;
    font-size: 19px;
    /* color: rgb(255, 225, 0); */
    font-family: 'New Tegomin', serif;
    /* font-family: 'Caveat'; */
    background: linear-gradient(90deg ,rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.722) 25% 75%, rgba(255, 255, 255, 0));
}

li {
    /* border: 1px solid #00ffbb; */
    cursor: pointer;
    width:70px;
}

.nav-link {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-decoration: none; 
    color: rgb(240, 240, 240);
    transition: 100ms;
    font-family: 'Bebas Neue', cursive;
}

.nav-link:hover,
.nav-link:active {
    /* color:#fff700; */
    transform: scale(1.1);
    filter:brightness(120%);
}




#hello-world {
    width: 100%;
    color: rgba(228, 119, 23, 0.585);
    font-size: 300px;
    font-family: monospace;
    position: absolute;
    left: 1100px;
    bottom: -950px;
    display: block;
    filter: blur(30px);
}


/* ===================== PROJECTS ===================== */

#projects-section {
    background: linear-gradient(rgba(255, 0, 0, 0), #00000095 50%);
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


h2 {
    margin-top: 35px;
    /* font-family: 'Nothing You Could Do', cursive; */
    font-family: 'Bebas Neue', serif;
    color:rgb(255, 255, 255);
    font-weight: 100;
    font-size: 50px;
    text-align: center;
}

.app-box {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    margin-top: 20px;
    margin-bottom: 40px;
    /* justify-content:baseline; */
    /* align-items: center; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.app-text {
    max-width: 500px;
    margin-left: 40px;
    margin-top: 10px;
}

.app-text p {
    margin-top: 30px;
}

.app-text a {
    display: inline-block;
    margin-top: 30px;
    text-decoration: none;
    /* background: red; */
    /* border: 1px solid rgb(240, 240, 240); */
    border-radius:10ex;
    padding: 5px 25px;
    transition: 100ms;
    background-color: rgba(0, 0, 0, 0.462);
    border: 1px solid rgb(201, 114, 255);
    color:rgb(201, 114, 255);
    margin-right: 20px;
}

.app-text a:hover {
    color:rgb(211, 139, 255);
    border: 1px solid rgb(211, 139, 255);
    transform: scale(1.1);
}

.app-text .live-website {
    color:rgb(255, 140, 0);
    border: 1px solid rgb(255, 140, 0);
}

.app-text .live-website:hover {
    color:rgb(255, 164, 52);
    border: 1px solid rgb(255, 164, 52);
}

.apps {
    width: 300px;
    filter: brightness(90%);
    cursor: pointer;
}

.apps:hover {
    filter: brightness(95%);
    transform:scale(1.02);
}

.apps-img {
    border-radius: 2%;
    /* border: 1px solid #ffffff; */
    height: 200px;
    width: 300px;
    overflow:hidden;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.291);
}



@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }