* {
    /* border: 1px solid red; */
}
body {
    background: rgb(125, 125, 125);
}

h1 {
    text-align: center;
}

.container {
    border: 3px solid rgb(0, 255, 8);
}

.top-container {
    border: 3px solid blue;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#image {
    width: 40%;
    border: 3px solid rgb(0, 229, 255);
}

#image img {
    width: 100%;
    min-width: 200px;
}

#reset, #start {
    background-color: azure;
    padding: 5px 15px;
    border: 3px solid blue;
    border-radius: 10px;
    margin: 20px;
}

.start-clicked {
    opacity: .4;
}

#score, #hints {
    background-color: azure;
    padding: 5px 15px;
    border: 3px solid blue;
    border-radius: 10px;
    margin: 20px;
}


/* WORD */

#word {
    width: 90%;
    margin: 30px auto;
    background: cornsilk;
    border: 3px solid rgb(255, 119, 0);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.word-letter, .hidden-letter, .hidden-space {
    font-size: 35px;
    color: rgb(255, 0, 0);
    border-bottom: 4px solid purple;
    margin: 0 5px;
    width: 40px;
    display: flex;
    justify-content: center;
}

.hidden-letter {
    color: rgba(0, 0, 0, .05);
}

.hidden-space {
    opacity: 0;
    margin: 0;
}

/* LETTERS */

.letters {
    border: 3px solid red;
    /* width: 645px; */
    max-width: 60%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    align-items:flex-start;
}


.letter, .letter-selected {
    display: flex;
    width: 3vw;
    height: 3vw;
    border-radius: .5vw;
    border: 3px solid red;
    background: white;
    color: black;
    font-size: 2.5vw;
    align-items: center;
    justify-content: center;
    
    margin: 5px;
}

.letter-selected {
    opacity: .2;
}